
/* Your CSS Code here. */
body{flex-wrap:wrap}.holder{align-items:flex-start;display:flex;justify-content:space-between;font-size:70px;}
.item{padding:50px;}
#red{background-color:red;}
#green{background-color:green;align-items:flex-start;}
	   #blue{background-color:blue;}